.xd{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}

form input{
    max-width: 310px;
}
form textarea{
    max-width: 310px;
}
form select{
    max-width: 310px;
}